<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>File Metadata Microservice</title>
  <link rel="stylesheet" type="text/css" href="public/style.css" />
</head>

<body>
  <h1>File Data Microservice</h1>
  <h4>Purpose</h4>
  <p>
    A microservice that reads the metadata of an uploaded file and returns the file size.
  </p>
  <h4>User Stories</h4>
  <blockquote>
    <ol>
      <li>I can submit a FormData object that includes a file upload.</li>
      <li>
        When I submit something, I will receive the file size in bytes within the JSON response.
      </li>
    </ol>
  </blockquote>
  <h4>Usage</h4>
  <p>Submit a file to view its size.</p>
  <div class="container">
    <form action="post" enctype="multipart/form-data">
      <div>
        <label for="file">Select file to upload</label>
        <input type="file" name="fileUpload" id="fileUpload">
      </div>
      <div>
        <button>Submit</button>
      </div>

    </form>

  </div>

</body>

</html>